<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<div id="hddk">
- Cung cấp các dịch vụ công trực tuyến cho công dân, doanh nghiệp là mục tiêu quan trọng trong chương trình cải cách hành chính tại UBND Tp Vinh.
<br />
- Với dịch vụ công trực tuyến, công dân, doanh nghiệp có thể thực hiện nộp Hồ sơ TTHC qua mạng cho Trung tâm giao dịch một cửa.
<br />
- Triển khai các dịch vụ công trực tuyến có nghĩa là công dân, doanh nghiệp có thể giao tiếp với chính quyền 24 giờ trong ngày, 7 ngày trong tuần.
<br />
- Sau 2 ngày gửi hồ sơ công dân, doanh nghiệp có thể theo dõi thông báo về hồ sơ qua Dịch vụ công trực tuyến hoặc tại hòm mail (nếu tạo tài khoản có nhập email)
</div>
</body>
</html>
