/*layout*/
.wrapper_area .col_02 {
    background-color: white;
}

.button-link-container, #form-header, div.titleview {
    display: inline-block;
    width: 100%;
}

div.blc-left {
    text-align: left;
    float: left;
    height: 28px;
}

div.blc-right {
    float: right;
}
/*.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default*/
input.but_formfield, .link-button, .ui-widget-content a.fg-button.ui-state-default{
    background-color: #5087d0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    padding: 5px 20px;
    text-transform: uppercase;
    border: medium none;
}

a.fg-button{
    background-color: #5087d0;
    border: none;
    color: #fff;
    line-height: 18px;
}
body a.ui-state-active,body .ui-widget-content a.ui-state-active,body .ui-widget-header a.ui-state-active {
    background: #5087d0;
}

div#form-header-left {
    color: #c12c2c;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 0;
    text-align: left;
    width: auto;
}

div#form-header-right {
    margin-right: 2px;
    text-align: right;
}
/*Phan trang*/
table.table-page-number {
    font-family: arial;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
}

table.table-page-number td.left-col {
    color: #383838;
    padding-left: 0;
    width: 26%;
}

div#paging-content a.current, div#paging-content-modal a.current {
    background-color: #f8f8f8;
    color: red;
    font-weight: bold;
}

div#paging-content a.pg, div#paging-content-modal a.pg {
    border: 1px solid #dddddd;
    display: inline-block;
    margin: 0 2px;
    padding: 0 2px;
    cursor: pointer;
}

table.table-page-number td.right-col {
    color: #383838;
    padding-right: 1%;
    text-align: right;
    width: 26%;
}

div#paging-content a.nex, div#paging-content-modal a.nex {
    margin-left: 3px;
    cursor: pointer;
}

div#paging-content a.pre, div#paging-content-modal a.pre {
    margin-right: 3px;
    cursor: pointer;
}

/*From search*/

div.search-container {
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    margin: 0 1px 3px 0;
    padding: 10px;
}

#contentXml {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    margin: 0 5px 5px;
    position: relative;
    width: auto;
}

#Bottom_contentXml {
    border-top: medium none;
    clear: both;
    padding: 2px;
}

.search-container #Bottom_contentXml div {
    padding: 0;
}

#Bottom_contentXml div {
    display: inline-block;
    padding: 2px;
    width: 100%;
}

#Bottom_contentXml div label {
    width: 20%;
    display: inline-block;
}

.search-container div label {
    display: inline-block;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}

.search-container .normal_textbox, .search-container .normal_selectbox, .search-container .normal_textarea {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    height: 100%;
}
#contentXml .normal_textarea {
    height: auto;
}
/*From*/
.textbox {
    border: 1px solid #e1e1e1;
    font-family: Arial;
    font-size: 10pt;
    margin-bottom: 3px;
    padding: 3px;
}

.normal_title {
    color: #c12c2c;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    letter-spacing: 1pt;
    padding: 3px 0 0;
    text-align: left;
}

.normal_textbox:focus, .normal_selectbox:focus, .normal_textarea:focus {
    box-shadow: 0 0 5px #888888;
    border: 1px solid #5897fb;
}

 .normal_textbox, .normal_selectbox {
    background-color: #ffffff;
     border: 1px solid #e1e1e1;
     font-size: 10pt;
     padding: 3px;
}
#Bottom_contentXml div div {
    padding: 0px;
}
.linkget {color: #0000ff}
.linkget:hover{cursor: pointer}
.normal_textarea {
    /*border: 1px dotted Gray;*/
    /*color: Blue;*/
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    font-family: Arial;
    font-size: 10pt;
    padding: 3px;
}
.normal_label {
    color: #464343;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
}

label.normal_label {
    color: #464343;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
    padding-right: 10px;
    text-align: left;
    vertical-align: bottom;
}

label.normal_label_top {
    color: #464343;
    margin-bottom: 2px;
    padding-right: 10px;
    text-align: left;
    vertical-align: top;
}

div.button-container {
    margin: 5px 0 10px;
    text-align: center;
}

.normal_starmark {
    color: red;
    font-size: 10pt;
}

div#form-content div label {
    display: inline-block;
    line-height: 20px;
    width: 180px;
}

div#form-content {
    border: 1px solid #dddddd;
    margin: 2px;
    border-radius: 5px;
}

.divcontent {
    padding: 2px 2px 4px 10px;
}

div#form-update {
    border: 1px solid #dddddd;
    margin: 5px 2px;
    padding: 2px 2px 4px 10px;
}
div#form-update div label {
    clear: left;
    display: inline-block;
    float: left;
}
.label1 {
    padding-right: 5px;
    text-align: left;
    width: 15%;
}
.input5 {
    width: 5%;
}
.input70 {
    width: 70%;
}
/*Table*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table_detail_doc {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    color: #000000;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
}

.table_detail_doc tr td {
    border: 1px solid #e1e1e1;
    padding: 3px 10px;
}
table.list-table-data tr.selected td { background-color: #dae5fb;color:#000000; }

TABLE.list-table-data tr:first-child TD {
    border-top: 1px solid #dddddd;
}
TABLE.list-table-data TR TD:first-child {
    border-left: 1px solid #dddddd;
}
table.list-table-data tr td {
    padding: 0 3px;
}
TABLE.list-table-data TR TD {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: #000000;
    font-size: 13px;
    height: 25px;
    padding: 0 3px;
}
TABLE.list-table-data TR:nth-child(2n) {
    background-color: #f8f8f8;
}
TABLE.list-table-data TR.odd_row {
}

span.lblcolor{background-color: #FFFF00;color:#000000;border-radius:0.5em 0.5em 0.5em 0.5em;-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;}
.chkprocess{
    float: left;
}
.lbprocess{
    clear: none !important;
    font-weight: bold;
}
.tm{
    background: url("../images/icon_folder_close.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 22px;
    /*width: 34px;*/
    padding-left: 25px;
}
.tp{
    clear: both;
    background: url("../images/icon_folder_open.gif") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 22px;
    /* width: 34px;*/
    padding-left: 25px;
}
.infor_process{
    padding-left: 10px;
}
.wf_detail{margin-left: 20%;}
.listprocess{
    /*float: left;*/
    width: 80%;
}
.wfideacontent{
    width: 62%;
}
table.listprocess tr:first-child
{
    border-top: 1px solid #DDDDDD;
}
TABLE.listprocess TR TD:first-child {
    border-left: 1px solid #DDDDDD;
}
TABLE.listprocess TR TD {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    font-size: 13px;
    height: 25px;
    padding: 0 3px;
}
TABLE.listprocess TR:nth-child(even) {
    background-color: #F8F8F8;
}
/*Search detail expand*/
.s1{
    width:100%;
    position: relative;
}
.s2{
    width:100%;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    top: 0;
}
.s4{
    border:none;
    width: 100%;
    color: blue;
    font-size: 10pt;
}
.box{
    box-shadow: 0 0 5px #888888;
}
.s2:focus{
    box-shadow: 0 0 5px #888888;
}
.s3{
    left: 0;
    padding: 2px;
    position: absolute;
    right: 19px;
}
.s5 {
    background: url("../images/light-grey-disclosure-arrow-down.png") no-repeat scroll center center transparent;
    height: 4px;
    padding: 9px 3px;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
    cursor: pointer;
}
.s5:hover {
    background: url("../images/arrow_down.png") no-repeat scroll center center transparent;
}
.s11{
    display: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    max-height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
}
.s11 input, .s11 label{
    vertical-align: super;
}
div.search-container {
    padding: 10px;
}
.s11Title{
    color: #C12C2C;
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}
/*
.s11 div{
    padding-left: 15px;
}
*/
div.clear{
    clear: both;margin: 0;padding:0;
}
#searchIcon{
    background: url("../images/search-icon.png") no-repeat scroll center center transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 35px;
    width: 24px;
    cursor: pointer;
}
#printIcon{
    background: url("../images/print_icon.png") no-repeat scroll center center transparent;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    width: 24px;
    cursor: pointer;
}
.s0{
    position: relative;
    width: 100%;
    height: 21px;
}
.s00{
    left: 0;
    position: absolute;
    right: 60px;
}
#saparator{
    border-left: 1px dotted #367BC7;
    height: 24px;
    position: absolute;
    right: 28px;
    width: 1px;
}
#detailSearch > div > label{
    float: left;
    width: 200px;
    text-align: right;
    color: blue;
    font-weight: bold;
    display: inline-block;
}
#detailSearch{
    padding-left: 20px;
	margin-bottom: 5px;
}
#detailSearch>div>div{
    text-align: left;
    /*margin-left: 220px;*/
}
label.l1{
    width: 87px;
    display: inline-block;
    vertical-align: super;
}
label.l2{
    width: 56px;
    text-align: left;
    margin-left: 4px;
    vertical-align: super;
    display: inline-block;
}
.sdate{
    width: 100px;
}
.sint{
    width: 100px;
}
#r09{
    width: 245px;
}
#ntd_chzn{
    margin-left: 88px;
}
#r15_chzn{
    margin-left: 53px;
}
#r91_chzn{
    margin-left: 70px;
}
.s5_1 {
    background: url("../images/remove_text.gif") no-repeat scroll center center transparent;
    cursor: pointer;
    height: 4px;
    padding: 9px 3px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 7px;
    display: none;
}
.s5_1:hover{
    background: url("../images/remove_text.png") no-repeat scroll center center transparent;
}


/*tai khoan*/
.gb_ba {
    -moz-user-select: text;
    animation: 0.2s ease 0s normal none 1 running gb__a;
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: none;
    outline: medium none;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 60px;
}

.gb_u {
    animation: 0.2s ease 0s normal none 1 running gb__a;
    border-color: transparent transparent #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    height: 0;
    right: 12px;
    position: absolute;
    top: 53px;
    width: 0;
    z-index: 1;
}
.gb_y {
    color: #ccc;
    margin: 6px 0;
}
.gb_z {
    margin: 20px;
}
.gb_0c {
    white-space: nowrap;
}
.gb_A {
    margin-right: 20px;
    position: relative;
}
.gb_A, .gb_B {
    display: inline-block;
    vertical-align: top;
}
.gbip {
    background-image: url("//lh5.googleusercontent.com/-xWGo_G4HKN4/AAAAAAAAAAI/AAAAAAAAAAA/2O2CjshBBV4/s96-c/photo.jpg");
}
.gb_a {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
}

.gb_Kc {
    line-height: normal;
    text-align: left;
}
.gb_C {
    background: rgba(78, 144, 254, 0.7) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    padding: 7px 0;
    position: absolute;
    text-align: center;
    width: 96px;
}
.gb_D {
    font-weight: bold;
    /*margin: -4px 0 1px;*/
}
.gb_E {
    color: #666;
}
.gb_g {
    background-size: 96px 96px;
    border: medium none;
    height: 96px;
    vertical-align: top;
    width: 96px;
}
#gb a.gb_x.gb_x, #gb .gb_y.gb_y a {
    color: #36c;
    text-decoration: none;
}
.gb_y a:first-child {
    margin-left: 0;
}


#gb a.gb_a.gb_a {
    color: #666;
    cursor: default;
    text-decoration: none;
}

#gb .gb_B a.gb_a.gb_a {
    color: #fff;
}
.gb_B .gb_a {
    background: #4d90fe none repeat scroll 0 0;
    border-color: #3079ed;
    font-weight: bold;
    margin: 3px 0 0;
}
.gb_B .gb_a:hover {
    background: #357ae8 none repeat scroll 0 0;
    border-color: #2f5bb7;
}
#gb a.gb_x.gb_x, #gb .gb_y.gb_y a {
    color: #36c;
    text-decoration: none;
}
#gb a.gb_x:active, #gb a.gb_x:hover, #gb .gb_y a:active, #gb .gb_y a:hover {
    text-decoration: underline;
}
.gb_y a {
    margin: 0 10px;
}
.gb_y a:first-child {
    margin-left: 0;
}
.gb_y a:last-child {
    margin-right: 0;
}

div.title_tab {
    display: inline-block;
    margin-bottom: -3px;
    margin-top: 5px;
    width: 100%;
}

div.title_tab .item_title {
    display: inline-block;
    padding: 7px 20px 6px;
    width: auto;
    border-right: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    border-radius: 5px 10px 1px 1px;
    background-color: #F5F5F5;
    border-bottom: none;
    margin-left: -4px;
}
div.title_tab .title_tab_selected {
    padding-bottom: 7px;
    border-bottom: none;
    padding-top: 7px;
    border-left: 1px solid #DDDDDD;
}
div.title_tab .title_tab_first {
    border-radius: 0px 10px 1px 1px;
    margin-left: 2px;
    border-left: 1px solid #DDDDDD;
}
div.title_tab .item_title label {
    font-weight: bold;
}
div.title_tab .title_tab_selected label {
    color: blue;
}
div.tabcontent {
    border: 1px solid #DDDDDD;
    margin: 2px;
}
.tabcontent .tab_content {
    margin: 5px;
}
.ui-widget {
    font-family: Arial,sans-serif;
    font-size: 1.1em;
}

TABLE.list-table-data TR TD.data {
    padding: 5px;
}
.icon_group_open {
    background: transparent url("../images/icon_folder_open.gif") no-repeat scroll center center;
    display: inline-block;
    padding-right: 3px;
    width: 20px !important;
}

.icon_group_close {
    background: transparent url("../images/icon_folder_close.gif") no-repeat scroll center center;
    display: inline-block;
    padding-right: 3px;
    width: 20px !important;
}
.btn_icon_search:before {
    background: url("../images/search-icon.png") no-repeat scroll 0px top / 22px auto transparent;
    padding-left: 24px;
    padding-top: 5px;
    cursor: pointer;
    content: "";
}
div#form-content label.lbx {
    width: auto;
    font-weight: bold;
}
div#form-content div label.wf_idea_content {
    margin-left: 4px;
    padding-left: 5%;
    padding-right: 0px;
    width: 15%;
}
div.wf_general_information {
    margin: 2px;
}


#form-content.divcontent div {
    display: inline-block;
    padding: 2px;
    width: 100%;
}

/*Thong bao don trung*/
.duplicateWarningClose{
    color: blue;
    background: url("../images/icon_folder_close.gif") no-repeat scroll center left transparent;
    cursor: pointer;
    padding-left: 20px;
    height: 20px;
}
.duplicateWarningOpen{
    color: blue;
    background: url("../images/icon_folder_open.gif") no-repeat scroll center left transparent;
    cursor: pointer;
    padding-left: 20px;
    height: 20px;
}
.normal_radio {
    color: #464343;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    padding-right: 10px;
}

#frmreminder_index { border: 1px solid #dddddd;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;}
div#form-reminder-left {
  border: 1px solid #DDDDDD;
  margin: 15px 0px 0px 2px;
  width: 49.5%;
}
div#form-reminder-right {
  border: 1px solid #DDDDDD;
  margin: 15px 2px 0px 0px;
  width: 49.5%;
}
.label_reminder {
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 0px 5px 15px;
  font-family: arial;
  font-weight: bold;
  color: #001376;
  background-color: #FFFFFF;
  background-image: linear-gradient(#FFFFFF, #F5F5F5);
}
.item_reminder {
  background-image: url("../images/kntc_reminder.png");
  background-repeat: no-repeat;
  margin: 10px 0px 10px 20px;
  padding: 2px 0px 2px 20px;
}
.infornextstep {width:100%}
label.normal_label_left {
  font-size: 13px;
  font-family: arial;
  margin-bottom: 2px;
  color: #0070C0;
  float: none;
  font-weight: bold;
}
.frmofstep {
  width: 98%;
  display: inline-block;
  padding-left: 5%;}

/*div.vblog{padding: 2px;}*/
fieldset.idea_content{
    margin-bottom: 2px;
    margin-left: 21%;
    padding: 3px;
    width: 62%;
}
fieldset.idea_current{
    display:inline-block; width:62%;
    margin-bottom: 3px;
    padding: 3px;
}
fieldset.idea_content legend, fieldset.idea_current legend {
    color: #0070c0;
    font-weight: bold;
    margin-left: 20px;
}
fieldset.idea_content p {padding: 2px 5px 5px;}
fieldset.idea_current textarea{
    border: medium none;
    min-height: 60px;
    width: 98%;
}

.ui-widget-header {
    background: #4971a6 none repeat scroll 0 0;
    border: 1px solid #4971a6;
    color: #ffffff;
    font-weight: bold;
}
.ui-dialog .ui-dialog-title{color: #ffffff;}
.ui-dialog .ui-dialog-content {background-color: #ffffff;}
.homeIcon {
    background: url("../images/home-icon.jpg") no-repeat scroll left center transparent;
    display: inline-block;
    height: 15px;
    cursor: pointer;
    width: 20px;
}
.view_print{
    padding: 0 0 0 10px;
    float: right;
    font-style: italic;
    font-size: small;
    cursor: pointer;
}
.print_dowload{
    background-image: url("../images/remove_text.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    float: left;
    height: 18px;
    width: 50%;
    cursor: pointer;
}
.logprint{
    cursor: pointer;
    font-size: 9pt;
    font-style: italic;
    margin-left: 8%;
}

div#form-content div label.normal_label_checkbox {
   line-height: 17px;
}
.searh-fixed  ul#tab-menu {
    padding: 0;
	clear: both;
    content: "";
    display: inline-flex;
    min-height: 0;
}
.searh-fixed ul#tab-menu li {
    display: inline;
}

.searh-fixed ul#tab-menu li {
    border-right: 1px solid #ccf;
    color: #000;
    float: left;
    text-decoration: none;
    cursor: pointer;
}
.searh-fixed ul#tab-menu li span.text {
    cursor: context-menu;
    opacity: 0.5;
}
.searh-fixed ul#tab-menu li.active span.text{
    font-weight: bold;
    opacity: 1;
    cursor: context-menu;
}
.idoc:before, .idocx:before{background: url(../images/img_skin/idoc.png) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.ixls:before, .ixlsx:before, .iexcel:before{background: url(../images/img_skin/iexcel.png) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.ipdf:before{background: url(../images/img_skin/ipdf.png) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.irar:before{background: url(../images/img_skin/irar.gif) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.izip:before{background: url(../images/img_skin/zip.png) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.i7z:before{background: url(../images/img_skin/7z.png) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}
.icon_img:before{background: url(../images/img_skin/icon_img.gif) center center no-repeat; content: ""; display: inline-block; height: 16px; padding-left: 5px; width: 16px;}

#popup_panel input[type="button"] {
    border: 1px solid #dddddd;
}

#tab-menu li[v_value="TTQ"] span.icon_tab,
#tab-menu li[v_value="DAGQ_10"] span.icon_tab {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -350px -29px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
#tab-menu li[v_value="KTTQ"] span.icon_tab,
#tab-menu li[v_value="CHUYEN_LUU"] span.icon_tab {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -397px -30px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
#tab-menu li[v_value="DGQ_10"] span.icon_tab{
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -442px -30px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Tiep dan thuong xuyen*/
.list li span.cl0201 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -192px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Tiep dan dinh ky*/
.list li span.cl0206 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -216px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Tiep nhan don*/
.list li span.cl0301 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -385px -4px;
    display: inline-block;
    margin-right: 2px;
    width: 11px;
    height: 20px;
}
/*Da phan loai*/
.list li span.cl0326 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -400px -4px;
    display: inline-block;
    margin-right: 2px;
    width: 11px;
    height: 20px;
}
/*Theo doi xu ly - thuoc tham quyen*/
.list li span.cl0401 {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon_sprite.png") no-repeat scroll -145px -4px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
/*Theo doi xu ly - khong thuoc tham quyen*/
.list li span.cl0402 {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon_sprite.png") no-repeat scroll -415px -3px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
/*Tonghopxuly*/
.list li span.cl0501 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -240px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Tonghoptiepdan*/
.list li span.cl0504 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -262px -4px;
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 20px;
}
/*Timkiem*/
.list li span.cl0502 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -321px -4px;
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-left: 1px;
    margin-right: 2px;
}
/*baocao*/
.list li span.cl0604 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -337px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Huong dan xu dung*/
.list li span.cl0901 {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -277px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group tiep dan*/
.Tiep_dan span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -122px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group */
.Tiep_dan span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -122px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group tiep nhan don*/
.Tiep_nhan_don span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -94px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group theo doi xu ly*/
.theo_doi_xu_ly span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -1px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group Tra cuu*/
.Tra_cuu span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -23px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group bao cao*/
.Bao_cao span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -600px -4px;
    display: inline-block;
    width: 20px;
    height: 20px;
}
/*Group huonng dan xu dung*/
.Huong_dan_su_dung span.icon_categories {
    background: url(../images/img_skin/icon_sprite.png) no-repeat scroll -488px -6px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

#wrapper {
    background-color: #fff;
}
.edit_icon {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/edit.png") no-repeat scroll left center;
    padding-left: 15px;
}
.delete_icon {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/delete.png") no-repeat scroll left center;
    padding-left: 15px;
}
#sessionTimeout-dialog {font-size: 14px; margin-top: 5px;}

.ac_results li {
    font-family: arial;
    text-align: left;
}

#form-content input.normalprs {width: 35%;}
#form-content input.processmini {width: 8%;}
#form-content input.ortherprocess {width: 35%; padding-left: 10px;}

.update_area .frm{
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}
.inline_next_task {margin: 8px 2px 5px;}
.inline_next_task label.lbx{display: inline-block; line-height: 15px; vertical-align: top; cursor: pointer;}
.inline_next_task .infornextstep {display: inline-block; width: auto;}
.inline_next_task .frmofstep {display: inline-block; padding-left: 5%;width: auto;}
.inline_next_task label.normal_label_left{ padding-left: 5%; width: 15%;}


/*span.icon_tranfer {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon_transfer.png") no-repeat scroll -350px -29px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
*/
span.icon_tranfer:before {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon_transfer.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 5px;
    cursor: pointer;
    content: "";
}
span.icon_edit:before {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon_edit.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 5px;
    cursor: pointer;
    content: "";
}
span.icon_viewer:before {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/icon-viewer.png") no-repeat scroll;
    padding-left: 20px;
    padding-top: 5px;
    cursor: pointer;
    content: "";
}

span.icon_tranfer,span.icon_edit,span.icon_viewer {
    padding-left: 5px;
}

#gotop {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/scrolltop.png") no-repeat scroll 0 0;
    bottom: 180px;
    display: none;
    height: 57px;
    position: fixed;
    right: 10px;
    width: 57px;
    z-index: 10;
}


/*
span.ic_approve:before {
    background: rgba(0, 0, 0, 0) url("../images/list_button.jpg") no-repeat scroll 8px 2px;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding-left: 20px;
    padding-top: 5px;
    cursor: pointer;
    content: "";
}


span.ic_add:before {
    background: rgba(0, 0, 0, 0) url("../images/list_button.jpg") no-repeat scroll -28px 2px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    padding-left: 7px;
    padding-top: 5px;
    width: 20px;
}


span.ic_delete:before {
    background: rgba(0, 0, 0, 0) url("../images/list_button.jpg") no-repeat scroll -28px -22px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    padding-left: 7px;
    width: 20px;
}

span.ic_edit:before {
    background: rgba(0, 0, 0, 0) url("../images/list_button.jpg") no-repeat scroll -5px -22px;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 20px;
    padding-left: 7px;
    width: 20px;
}*/
span.ic_approve,span.ic_edit ,span.ic_delete { color: #4971a6; font-weight: bold; padding: 5px;}