@charset "utf-8";

html {font-size:62.5%;}
body{
    color:#333232;
    font-family: 'OpenSans', arial ,Tahoma , Times New Roman, serif;
    font-size:13px;
    background:#ebebeb ;
    min-height: 100%;
    height: auto;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@font-face {
    font-family: sangsong;
    src: url(../font/UVNSangSong_N.ttf),
    url(../font/UVNSangSong_N.ttf),
    url(../font/UVNSangSong_B.ttf),
    url(../font/UVNSangSong_R.ttf),
    url(../font/UVNSangSong_N.ttf),
    url(../font/UVNSangSong_N.ttf);
    font-weight: normal;
    font-style: normal;
}
.ir a:after,
a[href^="javascript:"]:after,
a[href^="#"]:after {
    content: "";
}
.open {
    *z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}
h1 {font-weight:bold;}
h2 {font-size:14px;}
h3 {font-size:16px;}
h4 {font-size:18px;}
h5 {font-size:20px;}
h6{font-size:30px;}
header:after, form:after, fieldset:after, aside:after, footer:after, ul:after, li:after, #header-holder:after, #wrapper-holder:after, #wrapper:after, #main_section:after, #sidebar:after, #content:after,.main_header :after, .top_header:after, .top_menu:after, .left_mainsection:after, .right_section:after, .left_section:after, .bottom_section:after {
    clear: both;
    content: "";
    display: block;
    min-height: 0;
}
.hide {
    display: none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display:block;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {direction: ltr;}
a{text-decoration: none;}

ol, ul, li {
    list-style: none outside none;
}
input {
    border: medium none;
}
a,
button {
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}
header, footer {
    position: relative;
    width: 100%;
    z-index: 10;
}
img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
img:hover {
    /*	opacity: 0.8;
        -webkit-transition: .25s;
        -moz-transition: .25s;
        -o-transition: .25s;
        -ms-transition: .25s;
        transition: .25s;*/
}
*{ margin: 0; padding: 0;color:#1b1b1b;font-size:99%;}

/* home */
#header {
    background-color: #2980b9;
    height: 129px;
    margin-bottom: 10px;
}
.header_area {
    width: 980px;
    margin: 0 auto;
}
.img_logo {
    background: url(../images/img_skin/logo.png) no-repeat ;
    display: inline-block;
    width: 216px;
    height: 129px;
}
.header_area .logo {
    float: left;
    padding-right: 15px;
}
.header_area .text_logo {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    padding: 33px 0;
}
.text_logo .text_top {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    padding-bottom: 10px;
}
.text_logo .text_bt {
    font-weight: bold;
    text-transform: uppercase;
    color: #ffcc00;
    font-size: 20px;
}
.wrapper_area.home {
    position: relative;
    width: 100%;
}
.wrapper_area.home .banner {
    width: 100%;
    position: relative;
}
.banner .img_banner {

}
.banner .img_banner span img {
    width: 100%;
    height: 100%;
}
.home .banner >.box_login_regis {
    position: absolute;
    top: -133px;
    z-index: 9999;
    right: 3px;
    padding-top: 3px;
}
.home .banner .box_login_regis a {
    border: 1px solid #4696c0;
    border-radius: 5px;
    color: #184284;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-shadow: 0 0 3px #fff;
}
#header .visitor_tabs li {
    float: left;
    padding:3px;
}
#header .visitor_tabs {
    position: absolute;
    top: 5px;
    right: 5px;
}
#header .visitor_tabs li a {
    font-size: 14px;
    background-color: transparent;
    text-transform: none;
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
}
#header .visitor_tabs li a.email_visitor {
    font-weight: normal;
}
#header .visitor_tabs li a.email_visitor span.number {
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
    background-color: #FF2521;
    border-radius: 10px;
}
.wrapper_area.home .main_content {
    position: absolute;
    width: 100%;
    bottom: -100px;
    padding: 0;
    background-color: transparent;
    margin: 0;
    box-shadow:none;
}

.home .main_content .row_01 {
    width: 980px;
    margin: 0 auto;
}
.home .main_content .row_01 .header {
    padding: 20px;
}
.home .main_content .row_01 .header p.title {
    font-size: 20px;
    color: #343434;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.home .main_content .row_01 .header p.caption {
    font-size: 18px;
    color: #4c4c4c;
    padding-bottom: 8px;
    text-align: center;
}
.sprite_icon {
    background: url(../images/img_skin/sprite_icon.png) no-repeat ;
    display: inline-block;
    width: 605px;
    height: 121px;
}
.icon_home {
    background: url(../images/img_skin/sprite_icon.png) no-repeat ;
    width: 121px;
}
.icon_about {
    background: url(../images/img_skin/sprite_icon.png) no-repeat scroll -121px 0 ;
    width: 121px;
}
.icon_senddata {
    background: url(../images/img_skin/sprite_icon.png) no-repeat -242px 0;
    width: 121px;
}
.icon_searchdata {
    background: url(../images/img_skin/sprite_icon.png) no-repeat -363px 0;
    width: 121px;
}
.icon_help {
    background: url(../images/img_skin/sprite_icon.png) no-repeat -484px 0;
    width: 121px;
}
.home .menu {
    padding-bottom: 10px;
}
.home .menu ul li {
    float: left;
    width: 18%;
    padding: 1%;
    text-align: center;
}
.home .menu ul li a {
    display: inline-block;
}
.home .menu ul li a p.title {
    text-transform: uppercase;
    font-size: 16px;
    color: #353535;
    padding-top: 5px;
    font-weight: bold;
    line-height: 20px;
}
.home .menu ul li:hover .sprite_icon {
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    transform: rotateY(180deg);

    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;

}
.home .menu ul li a:hover  p:hover,
.home .menu ul li a:hover  p {
    text-decoration: none;
    color: #116aa5;
}
footer {


}
#footer {
    background-color: #2980b9;
    width: 100%;

}
.footer_home  {
    bottom: -150px;
    position: relative;
}
.footer_area {
    padding: 15px;
    text-align: center;
}
.footer_area p {
    color: #fff;
    font-size: 12px;
    padding: 3px;
}

/* gioi thieu.html */
.top_menu {
    clear: both;
    width: 100%;
    background-color: #fff;

    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
.top_menu_area {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}
.top_menu ul {
    text-align: initial;
    float: left;

}
.top_menu ul.visitor_tabs {
    float: right;
    border-left: 1px solid #dedede;
}
.top_menu ul.visitor_tabs li {
    float: left;
    padding: 14px 0;
}
.top_menu ul.visitor_tabs li a {
    padding: 3px 10px;
    text-transform: none;
}
.top_menu ul.visitor_tabs li a.name {
    font-weight: bold;
    font-size: 12px;
}
.top_menu ul.visitor_tabs li a.email_visitor {
    font-weight: normal;
    font-size: 12px;
}
.top_menu ul.visitor_tabs li:hover {
    border-bottom: 0;
}
.top_menu ul li {
    float: left;
    padding: 5px 10px;
}
.top_menu ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
}
.top_menu ul li.active,
.top_menu ul li:hover {

    border-bottom: 5px solid #2980b9;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
}
.wrapper_area {
    width: 980px;
    margin: 0 auto;
}
.wrapper_area .main_content {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}

.wrapper_area .main_content .content p {
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
}
.wrapper_area .main_content .content .image_about img {
    width: 100%;
}
.wrapper_area .main_content > .row_01 > .header .title {
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 20px;
    text-transform: uppercase;
}
.wrapper_area .main_content > .row_01 .content >.cl_left {
    float: left;
    width: 65%;
    padding-right: 20px;
}
.wrapper_area .main_content > .row_01 .content >.cl_right {
    float: left;
    width: 30%;
}
.search_bar_area {
    background-color: #ebebeb;
    padding: 20px 10px;
}
.search_bar_area .textinput {
    padding: 5px;
    border: 1px solid #808080 ;
    width: 78%;
}
.search_bar_area .button-submit {
    padding: 6px 20px ;
    color: #fff;
    background-color: #2980b9;
    cursor: pointer;

}
.search_bar_area .button-submit:hover {
    background-color: #0c437b;
}
.wrapper_area .main_content > .row_01 .content .img_help {
    padding: 10px 0;
}
/* huongdan.html */
.huongdan .main_content > .row_01 .content >.cl_left {
    width: 30%;
    padding-right: 30px;
}
.huongdan .main_content > .row_01 .content >.cl_right {
    width: 64%;
}
.huongdan .main_content > .row_01 .content >.cl_left p.title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.huongdan .main_content > .row_01 .content >.cl_left > .row_01 {
    padding-bottom: 20px;
}

.huongdan .main_content > .row_01 .content >.cl_left ul li {
    padding: 5px 8px ;
    border-bottom: 1px solid #cbcbcb;
}
.huongdan .main_content > .row_01 .content >.cl_left ul li a {
    padding: 5px 0;
    display: block;
}
.huongdan .main_content > .row_01 .content >.cl_left ul li.active a {
    color:#2980b9;
}

.huongdan .main_content > .row_01 .content >.cl_left ul li:hover {
    background-color: #dbdbdb;
}
.huongdan .main_content > .row_01 .content >.cl_right .header {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
.help_content_detail ul {
    border-bottom: 1px solid #ebebeb;
}
.help_content_detail ul li {
    padding: 10px;

}
.help_content_detail ul li >.cl_left {
    float: left;
    width: 51px;
    padding-right: 20px;
}
.help_content_detail ul li >.cl_right {
    float: left;
    width: 510px;
}
.help_content_detail ul li span.number {
    padding: 15px 20px;
    background-color: #2980b9;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-right: 10px;


}
.help_content_detail ul li span.text {
    float: left;
}
.help_content_detail .download_documents {
    padding: 10px ;
    text-align: center;
}
.download_documents .btn_download {
    padding: 10px 15px;
    display: inline-block;
    background-color: #ffcc00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
.download_documents .btn_download:hover {
    background-color: #e96809;
    color: #fff;
}


/* box sign in*/
#sign_in {
    position:absolute;
    z-index:9999;
    right:-2px;
    top: -6px;
    width:300px;
    display:none;
}
#sign_in .button-close,
#sign_up .button-close {
    position:absolute;
    top:10px;
    right:10px;
    cursor:pointer;
}
#sign_in .button-close .button_x,
#sign_up .button-close .button_x {
    font-size:14px;
    border:1px solid #606060;
    padding:1px 3px;
}
#sign_in .sign_in_area {
    position:relative;
    background-color:#fff;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -o-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -ms-box-shadow:0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    border:1px solid #b5b5b5;
    padding:20px;
}
#sign_in .button-suwface {
    margin:2em 0 0 0;
}

#sign_in #newsletterpass,
#sign_in #newsletterEmail {
    padding:6px;
    width:93%;
    border:1px solid #b5b5b5;
    margin:5px 0;
}
#sign_in .forgotpass a {
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    color: #2980b9;
    float: none;
    display: block;
    background-color: transparent;
    text-transform: none;
    color: #000;
}
#sign_in .button-sign-in {

}
#sign_in .button-sign-in .btn-sign-in {
    width:98%;
    background-color: #c70505;
    padding: 7px 12px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}
#sign_in  .register .btn-sign-up {
    width:98%;
    background-color: #111111;
    padding: 7px 12px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}
#sign_in .button-sign-in .btn-sign-in:hover,
#sign_in  .register .btn-sign-up:hover {
    background-color:#606060;
}
#sign_in  .register {
    clear:both;
    margin-top:15px;
}
#sign_in  .register  .head  {
    font:16px Times New Roman;
    font-style:italic;
}
#sign_in  .register .btn-sign-up {
    margin-top:6px;
}
/* End box sign in */

/* sign Up */
#sign_up {
    width:500px;
    position:absolute;
    top:-24px;
    z-index:9999;
    right:-2px;
    display:none;
}
.box_sign_up .head {
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
}
#sign_up  .box_sign_up {
    position:relative;
    background-color:#fff;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -o-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -ms-box-shadow:0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -moz-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    -webkit-box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.68);
    border:1px solid #b5b5b5;
    padding:20px;
}
#RegistrationForm .formfield {
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
#RegistrationForm fieldset {
    border:none;
}

#AddressForm .value, #RegistrationForm .value {
    float: left;
}
#RegistrationForm .textbox, #RegistrationForm .textinput, #RegistrationForm .textinputpw {
    border: 1px solid #7F9DB9;
    height: 21px;
    width: 215px;
}
.pt_account #RegistrationForm select {
    width: 57px;
    margin-left: 0;
}
.gender input {
    width: auto;
    height: auto;
    margin: 5px 5px 0 0;
    vertical-align: bottom;
}
#RegistrationForm .formfields .mobilealerts {
    margin-left: 183px;
    width: 285px;
    clear:both;
    padding-top: 4px;
}
#RegistrationForm .formfields .mobilealerts, #RegistrationForm .gender .value {
    font-family: Helvetica;
    font-size: 11px;
    color: #444;
}
.clear {
    clear: both;
}
.emailsignup {
    float: left;
    width: 210px;
}
.emailsignup span {
    color: #444444;
}
.emailsignup a {
    text-decoration: underline;
    cursor: pointer;
}
#RegistrationForm .emailsignupcheckbox {
    float: left;
    margin: 0 8px 0 184px;
}
#RegistrationForm fieldset .personalinfo {
    margin-left: 28px;
    font-family: Helvetica;
}
.personalinfo {
    width: 208px;
    text-align: right;
    padding-top: 2px;
    margin-bottom: 20px;
}
#RegistrationForm .formactions {
    clear: both;
    padding-left: 155px;
    margin: 15px 0;
}
.mediumbutton {
    border: 0;
    padding:5px 10px;
    background-color: #000;
    cursor:pointer;
}
.mediumbutton span {
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
}
.mediumbutton:hover {
    background-color:#b80000;
}
/* End sign Up */

/* login.html */
.login .logo {
    text-align: center;
    padding-top: 40px;
}
.logo a .name1 {
    font-size: 30px;
    font-weight: bold;
    color: #363636;
    padding-bottom: 10px;
    display: block;
}
.logo a .name2 {
    font-size: 40px;
    font-weight: bold;
    color: #2980b9;
    display: block;
}
.login .box_login {
    max-width: 410px;
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    display: block;

    -webkit-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 2px 3px 0px rgba(50, 50, 50, 0.3);
}
.login .box_login .title {
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}
.box_login .img_avatar {
    text-align: center;
    padding: 10px 0;
}
.avatar_login {
    background: url(../images/img_skin/avatar_login.png)no-repeat;
    height: 144px;
    width: 144px;
    display: inline-block;
}
.login .box_login .text_field {
    padding-bottom: 10px;
}
.login .box_login .text_field label {
    font-weight: bold;
    padding-right: 15px;
    width: 25%;
    float: left;
    display: inline-block;
    text-align: right;
}
.login .box_login .text {
    padding: 8px;
    border: 1px solid #b7b7b7;
    width: 175px;
}
.login .box_login .unlabeled {
    padding-left: 29%;
}
.login .box_login .button {
    clear: both;
    padding: 10px 0 10px 29%;
}
.login .box_login .button .btn_login {
    background-color: #2980b9;
    color: #fff;
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    width: 189px;
}
.login .box_login .button .btn_login:hover {
    background-color: #0e5b8d;
}
.login .forgot-container a {
    text-align: center;
    padding: 10px 0;
    display: block;
    color: #2980b9;
}
.login .create_acc {
    color: #2980b9;
    font-weight: bold;
    text-align: center;
    display: block;
}

/* signup.html */
#RegistrationForm {
    padding: 10px 0;
}
#RegistrationForm .formfield {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
fieldset {
    border: 0;
}
#RegistrationForm .textbox,
#RegistrationForm .textinput,
#RegistrationForm .textinputpw {
    border: 1px solid #7F9DB9;
    height: 21px;
    width: 215px;
    font-size: 12px;
}

.signup >.row_01 .box_sign_up {
    padding-top: 20px;
}
.signup >.row_01 .box_sign_up .cl_left {
    width: 65%;
    padding-right: 30px;
    float: left;
}
.signup >.row_01 .box_sign_up .cl_right {
    width: 30%;
    float: left;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail {
    padding-top: 50px;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail a {
    clear: both;
    display: block;
    padding: 10px 20px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail a.regis_facebook {
    background-color: #3771dc;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail a.regis_facebook:hover {
    text-decoration: none;
    background-color: #5dc0f8;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail a.regis_googleplus {
    background-color: #ff530f;
}
.signup >.row_01 .box_sign_up .cl_right .regis_socail a.regis_googleplus:hover {
    text-decoration: none;
    background-color: #ff8758;
}
.signup >.row_01 .box_sign_up p.head {
    font-size: 18px;
    background-color: inherit;
    padding: 10px 0;
}
#RegistrationForm {
    padding: 10px 0;
}
fieldset {
    border: 0;
}
#RegistrationForm .formfield {
    margin-bottom: 10px;
    clear: both;
    overflow: hidden;
}
#RegistrationForm .formfield .capcha {
    clear: both;
    margin-left: 155px;
}
#AddressForm .label,
#RegistrationForm .label {
    float: left;
    font-weight: bold;
    margin: 5px 5px 5px 20px;
    text-transform: uppercase;
    width: 130px;
    text-align: right;
}
#RegistrationForm .label .requiredindicator{
    color: red;
}
#RegistrationForm .textbox,
#RegistrationForm .textinput,
#RegistrationForm .textinputpw {
    border: 1px solid #7F9DB9;
    height: 21px;
    width: 215px;
    font-size: 12px;
}
#AddressForm .accountbirthday .value,
#RegistrationForm .accountbirthday .value {
    float: left;
    margin-right: 10px;
}
#RegistrationForm .accountbirthday .selectbox {
    padding: 5px;
    width: 65px;
}
#RegistrationForm .emailsignupcheckbox {
    float: left;
    margin: 0 8px 0 17%;
}

#RegistrationForm .formfield .mobilealerts {
    margin-left: 17%;
    font-size: 12px;
}
#RegistrationForm  .btn_signup {
    background-color: #2980b9;
    color: #fff;
    padding:  10px 20px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
}
#RegistrationForm  .btn_cancel {
    background-color: #000;
    color: #fff;
    padding:  10px 20px;
    display: inline-block;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
}
#RegistrationForm  .btn_signup:hover {
    background-color: #0c437b;
}
#RegistrationForm .formfield .avatar input {
    padding-left: 150px;
}
.wrapper_area.tracuuhoso_kq .main_content > .row_01 .content >.cl_left {
    width: 100%;
}
.wrapper_area.tracuuhoso_kq .main_content .content p {
    font-weight: bold;
    padding: 10px 0;
}


/* main.css */

TABLE.list-table-data{color: #000000;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}
TABLE.list-table-data tr.header TD {
    background-color: #ffffff;
    background-image: linear-gradient(#ffffff, #f5f5f5);
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: medium none;
    color: #464343;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
}
table.list-table-data tr.selected td { background-color: #dae5fb;color:#000000; }

TABLE.list-table-data tr:first-child TD {
    border-top: 1px solid #dddddd;
}
TABLE.list-table-data TR TD:first-child {
    border-left: 1px solid #dddddd;
    background-color: #b6e6fe;
    border-bottom: 1px solid #7aaac2;
    font-weight: bold;
}

table.list-table-data tr.header:first-child td {
    background-color: #3c3c3c;
    background-image:none;
    color: #fff;
}
table.list-table-data tr td {
    padding: 0 3px;
}
TABLE.list-table-data TR TD {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: #000000;
    font-size: 13px;
    height: 25px;
    padding: 5px;
}
TABLE.list-table-data TR:nth-child(2n) {
    background-color: #f8f8f8;
}
TABLE.list-table-data TR.odd_row {
}

.formfield .label {font-weight: bold; text-align:  right;}
.formfield .label, .formfield .value {
    float: left;
}
.button-link-container{margin: 3px 0;}
.button-link-container .blc-left {float: left;}
.but_formfield {
    background-color: #5087d0;
    border-right: 1px solid #b2d1fb;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
}
.searh-fixed .formfield{
    margin: 2px;
}
table.table-page-number {
    font-family: arial;
    font-size: 13px;
    margin-top: 5px;
    width: 100%;
    padding: 10px 5px;
}
table.table-page-number td.left-col {
    color: #383838;
    padding-left: 0;
    width: 26%;
}

table.table-page-number td.right-col {
    color: #383838;
    padding-right: 1%;
    text-align: right;
    width: 26%;
}

/*layzy*/
div#note-process, div#load_data, div#process, div#file_export, div#loadingall, div#smallLoadIcon, div#notice-print, div#loadingpage {
    display: none;
}

div#lda {
    background: url("../images/loadingall.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 90px;
}

div.nq {
    z-index: 9999999;
}

.vY {
    height: 100%;
    padding-top: 75px;
    position: fixed;
    top: 2px;
    visibility: visible;
    width: 100%;
    z-index: 5;
    /*cursor: wait;*/
}

.wait {
    cursor: wait;
}

div#loadingall, div#load_data, div#file_export, div#loadingpage {
    line-height: 100%;
    margin: 0 auto;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    top: 100px;
    width: 15%;
}

div#loadingpage span {
    color: #CC0000;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

div#load_data, div#file_export {
    position: relative;
    text-align: center;
    width: 10%;
    margin: 0 auto;
    padding: 6px 10px;
    line-height: 100%;
    top: 100px;
}

div#load_data {
    width: 217px;
    padding: 12px;
    background-color: #348AE9;
    background-image: -webkit-linear-gradient(center top, #348AE9, #3777BD);
    background-image: -moz-linear-gradient(center top, #348AE9, #3777BD);
    background-image: -o-linear-gradient(center top, #348AE9, #3777BD);
    background-image: -ms-linear-gradient(center top, #348AE9, #3777BD);
    background-image: linear-gradient(center top, #348AE9, #3777BD);
    border-radius: 10px 10px 10px 10px;
    height: 50px;
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    border: 1px solid #085AB7;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 0 0 1px rgba(255, 255, 255, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}

div#file_export {
    width: 300px;
    padding: 12px;
    background: none repeat scroll 0 0 #393E44;
    -webkit-box-shadow: 0 0 75px rgba(0, 0, 0, 0.5) inset;
    box-shadow: 0 0 75px rgba(0, 0, 0, 0.5) inset;
    color: white;
    padding: 15px 13px 45px 15px;
    border-radius: 10px 10px 10px 10px;
    height: 60px;
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    border: 1px solid #393E44;
}

a.file_export-icon {
    display: block;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin: 0 auto;
}

a.xls, a.excel {
    background: url("../images/excel.png") no-repeat scroll center center transparent;
}

a.doc {
    background: url("../images/doc.png") no-repeat scroll center center transparent;
}

div.file_export-title a.doc {
    background: transparent url("../images/doc.png") no-repeat scroll center center / 50% auto;
}

a.pdf {
    background: url("../images/pdf.png") no-repeat scroll center center transparent;
}

p.file_export_close {
    background: url("../images/close-button-modal.png") no-repeat scroll center center transparent;
    display: block;
    height: 24px;
    position: absolute;
    top: -6px;
    right: -3px;
    width: 24px;
    cursor: pointer;
}

div.file_export-title {
    color: white;
    font: bold 12px/1.1 Arial, sans-serif;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0 1px 0 black;
    word-wrap: break-word;
}

#note-process #fade {
    display: none;
    position:absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #ababab;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .2;
    filter: alpha(opacity=80);
}

#note-process #modalnotify {
    display: none;
    position: absolute;
    top: 40%;
    left: 45%;
    width: 64px;
    height: 64px;
    padding:30px 15px 0px;
    /*border: 3px solid #ababab;*/
    box-shadow:1px 1px 10px #ababab;
    border-radius:20px;
    background-color: white;
    z-index: 1002;
    text-align:center;
    overflow: auto;
}

/*Form field*/

div#form-content {
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
}
#Bottom_contentXml {
    border-top: medium none;
    clear: both;
    padding: 2px;
}
#Bottom_contentXml div {
    display: inline-block;
    padding: 2px 0;
    width: 100%;
}
div#form-content div label {
    display: inline-block;
    line-height: 20px;
    width: 180px;
}
.normal_textbox, .normal_selectbox, .normal_textarea{
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    font-size: 10pt;
    padding: 3px;
}
.normal_label {
    color: #464343;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 2px;
}

.normal_title {
    color: #c12c2c;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1pt;
}
.tasks {margin: 2px 0;}
.tasks .left, .tasks .right{ float: left;text-align: left; width: 50%; margin: 5px 0px;}
.tasks .right{text-align: right;}
.task_bottom{text-align: center;width: 100%;}

span.iconattach:before {
    background: rgba(0, 0, 0, 0) url("../images/img_skin/Attach.png") no-repeat scroll;
    content: "";
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-top: 3px;
    padding-left: 7px;
    width: 24px;
}
#Bottom_contentXml .modefile{width: 100%}
#Bottom_contentXml .modefile .left{ float: left;text-align: left;width: 85%}
#Bottom_contentXml .modefile .right{ float: left;text-align: right;width: 12%}
.modefile .right .fileinput-button input{height: 24px;
    left: 0;
    right: auto;
    top: -12px;
    width: 24px;}
.modefile .files > .fade td {padding: 0px; vertical-align: middle;}


.ui-widget-header {
    background: #4971a6 none repeat scroll 0 0;
    border: 1px solid #4971a6;
    color: #ffffff;
    font-weight: bold;
}

.title_red{
    color: red;
    font-weight: bold;
    text-transform: uppercase;
}

/* END main.css */