USE [ecs-qb-lt]
GO
/****** Object:  Table [dbo].[T_eCS_NET_RECORD]    Script Date: 02/13/2017 09:56:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_eCS_NET_ORDER](
	[PK_NET_ORDER] [uniqueidentifier] NOT NULL CONSTRAINT [DF_T_eCS_NET_ORDER_PK_NET_ORDER]  DEFAULT (newid()),
	[FK_RECORDTYPE] [uniqueidentifier] NOT NULL,
	[FK_NET_ID] [uniqueidentifier] NOT NULL,
	[C_CODE] [varchar](50) NOT NULL,
	[C_INPUT_DATE] [datetime] NOT NULL,
	[C_PRELIMINARY_DATE] [datetime] NULL,
	[C_ORIGINAL_APPLICATION_DATE] [datetime] NULL,
	[C_RECEIVING_DATE] [datetime] NULL,
	[C_XML_DATA] [xml] NULL,
	[C_DATA_TEMP] [xml] NULL,
	[C_STATUS] [varchar](50) NOT NULL,
	[C_MESSAGE] [varchar](300) NULL,
	[C_UNIT] [varchar](50) NULL,
 CONSTRAINT [PK_T_eCS_NET_ORDER] PRIMARY KEY CLUSTERED 
(
	[PK_NET_ORDER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF