body{background-color:#FFFFFF; margin: 0;width:100%; position:relative;  overflow: hidden; margin:0; padding:0}
Table.thu_thu_hc{}
Table.thu_thu_hc td.sw{	background-image:url(images/menu_right.gif);background-position:right top;background-repeat:repeat-y;	width:3px;}

Table.thu_thu_hc td.menu_select{
	 background-image:url(images/bg_menu_top_link.gif); 
	 background-repeat:no-repeat; font-family:Tahoma, Arial, Helvetica, sans-serif;
	 font-size:14px;  font-weight:bold; color:#570800; 
	 padding:0px 8px 0px 10px; /*background-color:#FFE39D;*/ 
	 height:69px; width:297px; cursor:pointer}
Table.thu_thu_hc td.menu_select a:link{color:#ED2100; text-decoration:none;}
Table.thu_thu_hc td.menu_select a:visited{color:#ED2100;text-decoration:none;}
Table.thu_thu_hc td.menu_select a:hover{color:#ED2100;text-decoration:none;}

Table.thu_thu_hc td.top{background-color:#FFFFFF;background-repeat:repeat;height:2px;}
Table.thu_thu_hc td.bottom{	background-color:#FFFFFF;background-repeat:repeat;width:2px;}
Table.date{}
Table.date td.left{	background-image:url(images/date_left.gif);	background-position:left top;background-repeat:no-repeat;width:6px;	height:24px;}
Table.date td.right{background-image:url(images/date_right.gif);background-position:right top;background-repeat:no-repeat;width:6px;height:24px;}
Table.date td.center{background-image:url(images/date_center.gif);background-position:right top;background-repeat:repeat-x;	height:24px;font-family:Verdana, Arial, Helvetica, sans-serif;	font-size:15px;	font-weight:normal;	color:#121212;	padding:2px 0 0 20px;}						

Table.bd_top_menu td.parent{
	background-image:url(images/bgparent.gif); background-position:bottom;
	background-repeat:no-repeat;
	width:295px;
	height:43px;	
	cursor:pointer;
	font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#ab1c00;
	font-weight:bold;
	padding-top:16px;
	}
Table.bd_top_menu td.parent a{
	color:#ab1c00; text-decoration:none;
	}
Table.bd_top_menu td.parent a:hover{
	background-image:url(images/bgparentlink.gif); background-position:bottom;
	background-repeat:no-repeat;
	
	color: #009966; text-decoration:none;
	}
.bg_center{
border:none;
border-bottom:0px #d36800 solid; 
border-left:0px #d36800 solid; 
border-right:0px #d36800 solid ; 
margin:0 0 0 0px;
}
.bg_menu{ background: url(images/bg_top.gif) repeat-x; }

table.boder{ 
border:1px #b06c0a solid; 
border-left:none; 
border-top:none; 
border-bottom:none;
}
table.boder td.swap_bottom_right{ 
height:35px; 
font-family:"Times New Roman", Times, serif; 
font-size:21px; color:#5a0101; 
font-weight:none; 
border:none;
border-left:1px #b06c0a solid; 
border-bottom:1px #b06c0a solid; 
padding-left:7px;
cursor:pointers;
}
.swap_top { 
background-color:#ffe09e; /*#ffd272*/ 
height:40px; 
background-position:bottom ; 
font-family:"Times New Roman", Times, serif; font-size:25px; 
color:#990000; 
font-weight:bold;
border:1px #b06c0a solid; 
border-right:none; 
}
.swap_bottom{ 
background-color:#fefce6; 
height:35px; 
font-family:"Times New Roman", Times, serif; 
font-size:21px; 
color:#5a0101; 
font-weight:none; 
border:none;border-left:1px #b06c0a solid; 
border-bottom:1px #b06c0a solid;
}
.bd_top_menu{ border: none; border-bottom:1px #d36800 solid; height:50px; }
Table tr.mau_nen td{ background-color: #fefce6}

.Magintop{
	background-color:#FAF0E6;
	height:0px;
}
		#base2 {
			position:relative;center:0;top:150px; 
			width:1280px; 
			height:auto; 
			left:50%;
			margin-left: -640px;
			overflow: hidden;
		}
		#base3{
			width:1280px; 
			height:auto; 
			left:50%;
			margin-left: -640px;
			overflow: hidden; 
			position:absolute;
			z-index:5;
			center:0px;
			top:0px;
		}
		#base{
			position:fixed;right:0; top:0;
			width:1258; 
			background:#536475; z-index:3;
			opacity:.0; height:2200px;
		}
		*html #base{position: absolute;
		top: 8px;
		filter:alpha(opacity=00)}
		#menu{ position:absolute;z-index:5;left:0px; top:10px;}
Table.bd_top_menu td.current{
	background-image:url(images/bgparent.gif); background-position:bottom;
	background-repeat:no-repeat;
	width:295px;
	height:43px;	
	cursor:pointer;
	font-family: "Times New Roman", Times, serif, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:18px;
	color:#ab1c00;
	font-weight:bold;
	padding-top:16px;
	}
Table.bd_top_menu td.current a{
	color: #FF0000; text-decoration:none;
}	
		
	